/**** ROB STYLES FOR ACCORDION *****/

.faq_area {
    background-color: rgba(31, 31, 31, .7);
    /*border-radius: 35px;*/
}










.intro p {
    padding-bottom: 5px;
    letter-spacing: 1px;
}

/** SECTION BODY **/

.section_area {
    background-color: rgba(31, 31, 31, .7);
    font-size: 16px;
    /*border-radius: 35px;*/
    padding-top: 50px;
    padding-bottom: 40px;
}